* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-image: url("../images/499226.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.singUp {
    font-size: 1.2rem;
    width: 100px;
    height: 40px;
    color: rgb(172, 172, 172);
    transform: translate3d(0, 50%, 0);
    background-color: #5ED3F3;
    border: #5ED3F3;
    border-radius: 8px;
    cursor: pointer;
    animation: neon 4s infinite;
    opacity: .9;
}

@keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
        box-shadow: 
        #fff 0 10px 15px,
        #074fea 0 15px 30px,
        #074fea 0 15px 40px;
    }
    40%, 60% {
        box-shadow: none;
    }
}

.singUp:hover {
    opacity: 1;
    text-decoration: underline;
}

.singIn {
    font-size: 1.2rem;
    width: 100px;
    height: 40px;
    color: rgb(172, 172, 172);
    transform: translate3d(0, 50%, 0);
    background-color: #00e0c6;
    border: #00e0c6;
    border-radius: 8px;
    cursor: pointer;
    animation: neon1 5s infinite;
    opacity: .9;
    margin: 0 30px;
}

@keyframes neon1 {
    0%, 39%, 41%, 59%, 61%, 100% {
        box-shadow: 
        #fff 0 10px 15px,
        #009393 0 15px 30px,
        #009393 0 15px 40px;
    }
    40%, 60% {
        box-shadow: none;
    }
}

.singIn:hover {
    opacity: 1;
    text-decoration: underline;
}

@media (max-width: 867px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .singUp{
        margin-top: 45px;
    }
}